argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
autopep8==2.0.0
bcrypt==4.0.0
certifi==2022.9.24
cffi==1.15.1
contourpy==1.0.5
cycler==0.11.0
Django==4.1.1
django-computed-property==0.3.0
django-computedfields==0.2.1
django-fast-update==0.2.1
django-matplotlib==0.1
Faker==14.1.1
fonttools==4.37.4
kiwisolver==1.4.4
matplotlib==3.6.0
numpy==1.23.3
packaging==21.3
pandas==1.5.1
Pillow==9.2.0
plotly==5.11.0
pycodestyle==2.9.1
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.5
seaborn==0.12.1
six==1.16.0
sqlparse==0.4.3
tenacity==8.1.0
tomli==2.0.1
typing_extensions==4.3.0
tzdata==2022.4
wincertstore==0.2
